* {
    margin: 0px;
    padding: 0px;
    font-family: "Mukta", sans-serif;
}

html {
    --color--black1:#000;
    --color--black2:#272727;
    --color--gray1:#868686;
    --color--gray2:#999999;
    --color--gray3:#d1d1d1;
    --color--white1:#FFF;
    --color--white2:#f1f1f1;
    --color--white3:#b4acac;
    --color--blue1:#0b1526;
    --color--blue2:#1b2c4c;
    --color--blue3:#144e64;
    --color--blue4:#64a1f1;
    --color--green:#c4e5db;

    --colorTextoTitulos:var(--color--white1);
    --colorTextoTitulos2:var(--color--gray2);
    --colorTextoTitulos3:var(--color--green);
    --colorTextoFuente:var(--color--white1);
    --colorTextoFuente1:var(--color--gray3);
    --colorTextoFuente2:var(--color--black1);
    --colorTextoFuente3:var(--color--gray1);
    --colorSombraModulos:var(--color--blue3);
    --colorBackgroundBody:var(--color--blue1);
    --colorBackgroundBoton:var(--color--green);
    --colorBackgroundBoton2:var(--color--white1);
    --colorBackgroundModulos:var(--color--blue2);
    --colorBackgroundHeader:var(--color--black2);
    --colorTextoResaltado:var(--color--white1);
    --colorSeparadores:var(--color--blue3);
}