body {
    background-image: linear-gradient(var(--colorBackgroundBody) 55%, #000);
}

.contenedor-noticias {
    margin-top: 15px;
    border-top: 2px var(--colorSeparadores) solid;
    border-bottom: 2px var(--colorSeparadores) solid;
    padding: 0px 0px 5px 0px;
}

.contenedor-noticias h1{
    border-bottom: 2px var(--colorSeparadores) solid;
    padding-bottom: 0px;
    color: var(--colorTextoTitulos3);
}

.apartado-mas-noticias {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(transparent 50%,var(--colorSombraMasNoticias));
}

.apartado-mas-noticias2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.apartado-mas-noticias img {
    width: 50px;
    height: auto;
    transition: all 600ms;
}

.apartado-mas-noticias2 img {
    width: 50px;
    height: auto;
    transform: rotate(180deg);
    transition: all 600ms;
}

.contenedor-mas-noticias {
    display: none;
}

.noticias-principales img{
    width: 1rem;
}

.modulo2 {
    border-right: .5px var(--colorSeparadores) solid;
}

.modulo-importante {
    height: 100%;
    border-bottom: .5px var(--colorSeparadores) solid;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 5px;
    font-size:large;
}

.modulo-importante p{
    font-size:medium;
    
}

.modulo-importante a{
    color:var(--colorTextoTitulos3);
    text-decoration: none;
}

.modulo-importante a:hover{
    cursor: pointer;
}

.modulo-importante a img{
    width: 1rem;
    height: auto;
}

.modulo-importante a span{
    display: flex;
    flex-direction: column;
    margin-right: 5px;
}

.modulo-importante a span h6{
    margin-top: 5px;
    margin-bottom: 5px;
}

.boton-ver-mas{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.boton-ver-mas a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 200ms;
}

.boton-ver-mas a img{
    width: 1rem;
    height: auto;
}

.boton-ver-mas a:link{
    text-decoration: none;
}

.boton-ver-mas a:visited{
    text-decoration: none;
}

.boton-ver-mas a:hover{
    text-decoration: underline;
    font-size: 2rem;
}

.modulo h4{
    text-align: center;
}

.modulo {
    cursor: pointer;
    transition: all 450ms;
    padding: 3px;
}

.modulo p{
    color: var(--colorTextoFuente4);
    font-size: 0.8rem;
}

.modulo h4{
    color:var(--colorTextoTitulos3);
}

.modulo:link{
    text-decoration: none;
}

.modulo:visited {
    text-decoration: none;
}

.modulo:hover {
    color: var(--colorTextoFuente);
    border-radius: 15px;
    background-image: linear-gradient(45deg,var(--colorBackgroundModulos),black);
    box-shadow: 1px 2px 20px 0px var(--colorSombraModulos);
}

.modulo:hover p{
    color: var(--colorTextoResaltado);
}

.body-contenido {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pop-up-noticia {
    z-index: 22;
    display: none;
    position: fixed;
    width: 60%;
    min-width: 280px;
    height: 60%;
    background-image: linear-gradient(45deg,var(--colorBackgroundModulos),black);
    top: 0;
    margin: 50px;
    border-radius: 50px;
    border: 2px var(--colorSombraModulos) solid;
}

.pop-up-noticia h2{
    color: var(--colorTextoTitulos3);
}

.pop-up-noticia img{
    width: 2rem;
    height: auto;
}

.tema-pop-up {
    margin-left: 5px;
    color: var(--colorTextoFuente4);
}

.logo-pop-up img {
    width: 125px;
    height: auto;
}

.resumen-pop-up {
    color: var(--colorTextoTitulos3);
}

.mas-informacion-pop-up button{
    background-color: var(--colorBackgroundModulos);
    border: none;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
}

p {
    color: var(--colorTextoFuente);
}

@media screen and (min-width:600px) {
    .modulo5 {
        border-left:.5px var(--colorSeparadores) solid ;
    }
    .pop-up-noticia {
        padding: 50px;
    }
}

@media screen and (max-width:600px) {
    .pop-up-noticia {
        padding: 15px;
    }
}