.grid-body-contenido {
    display: grid;
    grid-template-columns: 1fr 14fr 1fr;
    grid-template-areas: 
        "espacio-izq contenedor-noticias espacio-der";
    margin-top: 25px;
}

.espacio-izq {
    grid-area: espacio-izq;
}
.espacio-der {
    grid-area: espacio-der;
}

.contenedor-noticias {
    grid-area: contenedor-noticias;
}



.grid-noticias-principales {
    display: grid;
}

.modulo1 {
    grid-area: modulo1;
}

.modulo2 {
    grid-area: modulo2;
}

.modulo3 {
    grid-area: modulo3;
}

.modulo4 {
    grid-area: modulo4;
}

.modulo5 {
    grid-area: modulo5;
}

.grid-noticias-secundarias {
    margin-top: 50px;
    display: grid;
    grid-template-rows: auto;
    column-gap: 30px;
    row-gap: 15px;
}


.grid-pop-up-noticia {
    display: grid;
    row-gap: 15px;
}

.boton-regresar-pop-up {
    grid-area: boton-regresar-pop-up;
}

.titulo-pop-up {
    grid-area: titulo-pop-up;
}

.logo-pop-up {
    grid-area: logo-pop-up;
    justify-self: end;
}

.tema-pop-up {
    grid-area: tema-pop-up;
}

.resumen-pop-up {
    grid-area: resumen-pop-up;
}

@media screen and (min-width:600px) {
    .grid-noticias-secundarias {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows:  1fr 1fr;
    }
    .grid-noticias-principales {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows:  1fr 1fr 1fr 1fr;
        grid-template-areas: 
            "modulo2 modulo1 modulo1 modulo1"
            "modulo2 modulo1 modulo1 modulo1"
            "modulo2 modulo3 modulo3 modulo5"
            "modulo2 modulo4 modulo4 modulo5";
    }
    .grid-pop-up-noticia {
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        grid-template-areas: 
            "boton-regresar-pop-up ."
            "titulo-pop-up logo-pop-up"
            "tema-pop-up ."
            "resumen-pop-up resumen-pop-up";
    }
}

@media screen and (max-width:600px) {
    .grid-noticias-secundarias {
        grid-template-columns: 1fr 1fr ;
    }
    .grid-pop-up-noticia {
    }
}

@media screen and (max-width:600px) {
    .grid-noticias-principales {
        grid-template-columns: 1fr 1fr;
        grid-template-rows:  auto;
        grid-template-areas: 
            "modulo1 modulo1"
            "modulo2 modulo3"
            "modulo2 modulo3"
            "modulo4 modulo4"
            "modulo5 modulo5";
    }
    .grid-pop-up-noticia {
        display: grid;
    }
}