* {
    margin: 0px;
    padding: 0px;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
}

html {
    --color--black1:#000;
    --color--black2:#272727;
    --color--gray1:#5A5A5A;
    --color--gray2:#999999;
    --color--white1:#FFF;
    --color--white2:#f1f1f1;
    --color--blue1:#64a1f1;

    --colorTextoFuente:var(--color--gray1);
    --colorTextoFuente2:var(--color--black1);
    --colorTextoFuente3:var(--color--white1);
    --colorBackgroundModulos:var(--color--white2);
    --colorBackgroundHeader:var(--color--black2);
    --colorTextoResaltado:var(--color--blue1);
    --colorSeparadores:var(--color--gray2);
}