.noticias-principales img{
    width: 1rem;
}

.modulo2 {
    border-right: .5px var(--colorSeparadores) solid;
}

.modulo-importante {
    height: 100%;
    border-bottom: .5px var(--colorSeparadores) solid;
    padding-left: 25px;
    padding-right: 25px;
    font-size: large;
}

.modulo-importante a:link{
    color:var(--colorTextoFuente2);
    text-decoration: none;
}

.modulo-importante a:visited{
    color:var(--colorTextoFuente2);
    text-decoration: none;
}

.boton-ver-mas{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.boton-ver-mas a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.boton-ver-mas a:link{
    text-decoration: none;
}

.boton-ver-mas a:visited{
    text-decoration: none;
}

.modulo h5{
    text-align: center;
}

.modulo {
    transition: all 450ms;
}

.modulo h5{
    color:var(--colorTextoFuente2);
}

.modulo:link{
    text-decoration: none;
}

.modulo:visited {
    text-decoration: none;
}

.modulo:hover {
    padding: 6px;
    border-radius: 15px;
    background-color: var(--colorBackgroundModulos);
}

p {
    color: var(--colorTextoFuente);
}

@media screen and (min-width:600px) {
    .modulo5 {
        border-left:.5px var(--colorSeparadores) solid ;
    }
}