.titulo-header {
    display: flex;
    justify-content: center;
    padding: 8px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: var(--colorTextoTitulos);
}

.titulo-header {
    width: 195px;
    height: auto;
}

.contenido-header-navegacion {
    /*background-color: var(--colorBackgroundHeader);*/
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 15px;
    margin-bottom: 15px;
    color:var(--colorTextoTitulos2);
    border-bottom: 3px var(--colorTextoFuente) solid;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.contenido-header-navegacion a{
    color: var(--colorTextoFuente1);
    transition: all 200ms;
    font-size: 1.5em;
}

.contenido-header-navegacion a:link{
    text-decoration: none;
}

.contenido-header-navegacion a:visited{
    text-decoration: none;
}

.contenido-header-navegacion a:hover{
    font-size:1.7em;
    color: var(--colorTextoResaltado);
}

.botones-sesion-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.botones-sesion-header a{
    text-decoration: none;
}

.botones-sesion-header a:link{
    text-decoration: none;
}

.botones-sesion-header a:visited{
    text-decoration: none;
}

.boton-ingresar-header p {
    color: var(--colorTextoFuente1);
}

.boton-ingresar-header p:hover {
    text-decoration: underline;
}

.boton-registarse-header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--colorTextoFuente2);
    background-color: var(--colorBackgroundBoton);
    border-radius: 25px;
    padding: 10px;
    width: 107px;
    margin-left: 15px;
    transition: all 400ms;
}

.boton-registarse-header:hover {
    background-color: var(--colorBackgroundBoton2);
}

.boton-registarse-header p{
    color: var(--colorTextoFuente2);
}