body {
    background-image: linear-gradient(var(--colorBackgroundBody) 65%, #000);
}
.noticias-principales img{
    width: 1rem;
}

.modulo2 {
    border-right: .5px var(--colorSeparadores) solid;
}

.modulo-importante {
    height: 100%;
    border-bottom: .5px var(--colorSeparadores) solid;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size:large;
}

.modulo-importante p{
    font-size:medium;
}

.modulo-importante a:link{
    color:var(--colorTextoTitulos3);
    text-decoration: none;
}

.modulo-importante a:visited{
    color:var(--colorTextoTitulos3);
    text-decoration: none;
}

.modulo-importante a img{
    width: 1rem;
    height: auto;
}

.modulo-importante a span{
    display: flex;
    flex-direction: row;
    margin-right: 5px;
}

.boton-ver-mas{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.boton-ver-mas a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 200ms;
}

.boton-ver-mas a:link{
    text-decoration: none;
}

.boton-ver-mas a:visited{
    text-decoration: none;
}

.boton-ver-mas a:hover{
    text-decoration: underline;
    font-size: 2rem;
}

.modulo h4{
    text-align: center;
}

.modulo {
    transition: all 450ms;
}

.modulo p{
    font-size: 0.8rem;
}

.modulo h4{
    color:var(--colorTextoTitulos3);
}

.modulo:link{
    text-decoration: none;
}

.modulo:visited {
    text-decoration: none;
}

.modulo:hover {
    padding: 6px;
    border-radius: 15px;
    background-color: var(--colorBackgroundModulos);
    box-shadow: 1px 2px 20px 0px var(--colorSombraModulos);
}

p {
    color: var(--colorTextoFuente);
}

@media screen and (min-width:600px) {
    .modulo5 {
        border-left:.5px var(--colorSeparadores) solid ;
    }
}