header {
    position: sticky;
}

.contenedor-noticias-titulo {
    padding: 15px;
}

.titulo-header {
    display: flex;
    justify-content: center;
    padding: 8px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: var(--colorTextoTitulos);
}

.titulo-header {
    width: 195px;
    height: auto;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--colorBackgroundBody);
  }

  .sticky-logo {
    position: fixed;
    top: 0;
    background-color: var(--colorBackgroundBody);
  }

#contenido-header-navegacion {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    color:var(--colorTextoTitulos2);
    padding-top: 10px;
    padding-bottom: 10px;
}

#contenido-header-navegacion button{
    color: var(--colorTextoFuente1);
    border: none;
    background-color: transparent;
    transition: all 200ms;
    font-size: 1.5rem;
}

#contenido-header-navegacion button:hover{
    font-size:1.6rem;
    color: var(--colorTextoResaltado);
}

.contenedor-navegacion {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 1px var(--colorTextoFuente) solid;
    border-radius: 4px;
}

.contenedor-header-dropdown {
    position: relative;
    width: 100%;
}

.contenedor-dropdown {
    padding: 25px;
    display: none;
    position: absolute;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 120px;
    max-height: 450px;
    background-color: var(--colorBackgroundBody);
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 10;
}

.seccion {
    margin-bottom: 28px;
    flex-grow: 1;
}

.seccion a {
    text-decoration: none;
    margin-left: 5px;
    margin-bottom: 0.2rem;
}

.botones-sesion-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.botones-sesion-header a{
    text-decoration: none;
}

.botones-sesion-header a:link{
    text-decoration: none;
}

.botones-sesion-header a:visited{
    text-decoration: none;
}

.boton-ingresar-header p {
    color: var(--colorTextoFuente1);
}

.boton-ingresar-header p:hover {
    text-decoration: underline;
}

.boton-registarse-header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--colorTextoFuente2);
    background-color: var(--colorBackgroundBoton);
    border-radius: 25px;
    padding: 10px;
    width: 107px;
    margin-left: 15px;
    transition: all 400ms;
}

.boton-registarse-header:hover {
    background-color: var(--colorBackgroundBoton2);
}

.boton-registarse-header p{
    color: var(--colorTextoFuente2);
    text-decoration: none;
}

.buscador-ia-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 12% 0px 12%;
}

.buscador-ia-header img{
    width: 1rem;
    height: auto;
}

.contenedor-buscador-ia-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 10px 20px 10px 20px;
    width: 80%;
    transition: all 500ms;
    border-radius: 20px;
    border: 2px var(--colorSeparadores) solid;
    background-color: var(--colorBackgroundBusqueda);
}

.contenedor-buscador-ia-header a{
    display: flex;
    align-items: flex-end;
}

/*.contenedor-buscador-ia-header:hover{
    width: 100%;
    box-shadow: 5px 1px 50px var(--colorSombraBuscador);
}*/

.buscador-ia-header textarea {
    padding: 10px;
    resize: none;
    width: 100%;
    border: none;
    overflow-y:auto;
    min-height: 40px;
    max-height: 200px;
    background-color: var(--colorBackgroundBusqueda);
    height: auto;
    outline: none;
}

@media screen and (min-width:400px){
    .buscador-ia-header textarea {
        font-size: 1.1rem;
    }
}

@media screen and (max-width:400px){
    .buscador-ia-header textarea {
        font-size: 1rem;
    }
}

/*.contenedor-buscador-ia-header:has(textarea:focus) {
    width: 100%;
    box-shadow: 5px 1px 50px var(--colorSombraBuscador);
}

.buscador-ia-header textarea:focus {
    outline: none;
}*/


#calendario-header {
    display: flex;
    align-items: center;
    color: var(--colorTextoFuente);
}

#calendario-header input {
    background-color: transparent;
    border: none;
    color: var(--colorTextoFuente);
    color-scheme: dark;
}

#calendario-header input:focus {
    outline: none;
}