.contenedor-footer {
    margin-top: 50px;
    padding: 25px;
    border-top: 2px var(--colorSeparadores) solid;
}

.logo-footer img{
    width: 25%;
    height: auto;
    min-width: 65px;
}

.navegacion-footer {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 15px;
}

.navegacion-footer h4 {
    font-weight: normal;
    color: var(--colorTextoFuente);
}

.navegacion-footer a p{
    color: var(--colorTextoFuente3);
    text-decoration: none;
}

.navegacion-footer a {
    color: var(--colorTextoFuente3);
    text-decoration: none;
}

.navegacion-footer a:link {
    text-decoration: none;
}

.navegacion-footer a:visited {
    text-decoration: none;
}

.navegacion-footer a:hover {
    text-decoration: underline;
}

.copyright-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-footer p {
    color: var(--colorTextoFuente);
    font-size: .85rem;
}

table {
    width: 100%;
}