.grid-header-contenido {
    display: grid;
}

.botones-sesion-header {
    grid-area: botones-sesion-header;
}

.espacio-izq {
    grid-area: espacio-izq;
}

.espacio-der {
    grid-area: espacio-der;
}

.titulo-header {
    grid-area: titulo-header;
}

.contenido-header-navegacion {
    grid-area: contenido-header-navegacion;
}

.buscador-ia-header {
    grid-area:buscador-ia-header;
}

@media screen and (min-width:1100px) {
    .grid-header-contenido {
        grid-template-columns: 2fr 4fr 10fr 3fr 2fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "espacio-izq titulo-header contenido-header-navegacion botones-sesion-header espacio-der"
            "espacio-izq buscador-ia-header buscador-ia-header buscador-ia-header espacio-der"
    }
}

@media screen and (max-width:1100px) {
    .grid-header-contenido {
        grid-template-columns: 2fr 4fr 3fr 2fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "espacio-izq titulo-header botones-sesion-header espacio-der"
            "espacio-izq contenido-header-navegacion contenido-header-navegacion espacio-der"
            "espacio-izq buscador-ia-header buscador-ia-header espacio-der";
    }
}
    @media screen and (max-width:435px) {
        .grid-header-contenido {
            grid-template-columns: 1fr 14fr 1fr;
            grid-template-rows: auto;
            grid-template-areas: 
                "espacio-izq titulo-header espacio-der"
                "espacio-izq botones-sesion-header espacio-der"
                "espacio-izq contenido-header-navegacion espacio-der"
                "espacio-izq buscador-ia-header espacio-der";
        }
        .titulo-header {
            justify-self: center;
        }
        .contenido-header-navegacion a{
            font-size:.8em;
        }
        .contenido-header-navegacion a:hover{
            font-size:1em;
        }
}